/*
+background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
+paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

/* Reset default styles */



body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  

  .main-header {
    background-color: #540B51;
    padding: 10px;
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    width: 120px;
  }
  
  .menu-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
  }

  .search-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-left: 180px;
  }
  
  .menu-btn img {
    width: 24px;
    height: 24px;
    object-fit: cover;
  }
  
  .main-nav {
    display: none;
  }
  
  .nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-links li {
    display: inline-block;
    margin-left: 10px;
  }
  
  .nav-links a {
    color: #ffffff;
    text-decoration: none;
  }
  
  #main-title {
    text-align: center;
    font-size: larger;
  }

  #main-title h1 {
    color:white;
  }

  .header-p {
    color:white;
  }

  .header-span {
    color:#ECB12F;
  }

  
  #email{
    display: inline-block;
    background-color: #fff;
    color: #69056d;
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
    width: 90vw;
  }

  #google{
    display: inline-block;
    background-color:#4285F4 ;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    margin-right: 10px;
    cursor: pointer;
    margin-top: 10px;
    width: 90vw;
  }
  
  #google img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-color: #ffffff;
  }
  

  #email:hover, #google:hover {
    background-color: #69056d;
  }
  
  /* Mobile-specific styles */
  
  @media (max-width: 768px) {
    .header-content {
      padding: 10px 0;
    }
  
    .logo {
      width: 100px;
    }
  
    .nav-links {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
    }
  
    .nav-links li {
      margin: 10px 0;
    }
  
    .main-nav.show {
      display: block;
    }
  }
  