/*
+background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
+paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

/* Reset default styles */



body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  

  .main-header {
    background-color: #540B51;
    padding: 10px;
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    width: 120px;
  }
  
  .menu-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
  }

  .search-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-left: 180px;
  }
  
  .menu-btn img {
    width: 24px;
    height: 24px;
    object-fit: cover;
  }
  
  .main-nav {
    display: none;
  }
  
  .nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-links li {
    display: inline-block;
    margin-left: 10px;
  }
  
  .nav-links a {
    color: #ffffff;
    text-decoration: none;
  }
  
  #main-title {
    text-align: center;
    font-size: larger;
    
    
  }

  #main-title h1 {
    color:white;
  }

  .header-p {
    color:white;
  }

  .header-span {
    color:#ECB12F;
  }

  
  #email{
    display: inline-block;
    background-color: #fff;
    color: #69056d;
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
    width: 90vw;
  }

  #google{
    display: inline-block;
    background-color:#4285F4 ;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    margin-right: 10px;
    cursor: pointer;
    margin-top: 10px;
    width: 90vw;
  }
  
  #google img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-color: #ffffff;
  }
  

  #email:hover, #google:hover {
    background-color: #69056d;
  }

  #header-img {
    margin-top: 20px;
    width: 100vh;
    height: auto;
  }

  .main-section {
    background-color: #F3EAE2;
    position: relative;
    z-index: 5;
    top:-120px; opacity:1;
  }

  #main-section-title {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
  }

  .companies-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .companies-img {
    width: 15%; 
    height: auto;
    margin: 15px;
  }

  .main-section-img {
    width: 400px;
    margin-top: 75px;
  }

  .main-section-img-right{
    width: 400px;
    margin-top: 75px;
    float: right;
  }

.main-content-title {
  text-align: center;
  font-size: 30px;
}

.main-content-p {
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
}

.main-content a {
  text-decoration: none;
  color: #2E71A6;
  padding-left: 20px;

}

.team-section {
  background-color: white;
}

.team-section > h3 {
  text-align: center;
  padding-top: 50px;
  font-size: 30px;
}

.team-section-p {
  text-align:center;
  padding: 10px;
  font-size: 18px;
}

#meet-btn {
  display: inline-block;
  background-color: #69056d;
  color:white;
  padding: 10px 20px;
  border: solid 2px #69056d;
  margin-right: 10px;
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer;
  width: 90vw;
  text-transform: uppercase;
  font-size: small;
}

#talk-btn {
  display: inline-block;
  background-color: #fff;
  color: #69056d;
  padding: 10px 20px;
  border: solid 2px #69056d;
  margin-right: 10px;
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer;
  width: 90vw;
  text-transform: uppercase;
  font-size: small;
  font-weight: bold;
}

.team-section-list {
  list-style: none;
  padding-top: 20px;
}

.team-section-list span {
  color:#69056d;
  font-weight: bolder;
  font-size: 40px;
  display: flex;
  justify-content: center;
}

.text-team-list {
  font-weight: bold;
  text-align: center;
  font-size: 15px;
  margin-top: 2px;
}

.quote {
  font-size: small;
  text-align: center;
  margin: 10px;
  padding: 10px;
  color: #454245;
  display: flex;
  justify-content: center;
}

.welcome-section {
  background-color: #69056d;
  margin-top: -30px;
}

.welcome-section > h3 {
  text-align: center;
  padding-top: 50px;
  font-size: 30px;
  color:white;
}

#try-btn {
  display: inline-block;
  background-color: #fff;
  color: #69056d;
  padding: 15px 20px;
  border: solid 2px #69056d;
  margin-right: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 40px;
  cursor: pointer;
  width: 90vw;
  text-transform: uppercase;
  font-size: small;
  font-weight: bold;
}

#sales-btn {
  display: inline-block;
  background-color: #69056d;
  color:white;
  padding: 15px 20px;
  border: solid 2px white;
  margin-right: 10px;
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer;
  width: 90vw;
  text-transform: uppercase;
  font-size: small;
}

#logo-footer {
  width: 50px;
  height: 50px;
  margin-left: 20px;
  margin-top: -80px;
  margin-bottom: 50px;
}

.footer-section {
  display: flex;
  margin-top: -40px;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: space-between;
  color:#454245;
}

.footer-section li {
  list-style: none;
  margin-top: 25px;
}

#footer-menu {
  list-style: none;
  font-weight: bold;
  margin-top: 50px;
}

#footer-menu > li {
  margin-top: 20px;
  margin-bottom: 20px;
}

#footer-menu a {
  text-decoration: none;
  color:#2E71A6;
}

#footer-icons {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
  /* Mobile-specific styles */
  
  @media (max-width: 768px) {
    .header-content {
      padding: 10px 0;
    }
  
    .logo {
      width: 100px;
    }
  
    .nav-links {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      
    }
  
    .nav-links li {
      margin: 10px 0;
    }
  
    .main-nav.show {
      display: block;
    }
    .hidden-img-mobile{
      display:none;
    }
  }
   
  /*  Medium-specific styles */

  @media  (min-width: 1024px){
    .main-nav{
      display: flex;
      justify-content: center;
      width: 100vw;
      margin-top: -110px;
      margin-bottom: 50px;
      margin-left: 50px;
      padding-left: 20px;
    }
    .quote { display:none;}
    .header-content {
      padding: 10px 0;
    }
  
    .logo {
      width: 100px;
    }
  
    .nav-links {
      display: flex;
      flex-direction: row;
      margin-top: 10px;
      margin: 50px;
    }
  
    .nav-links li {
      margin: 20px;

    }
  
    .main-nav.show {
      display: block;
    }
    .menu-btn{
      visibility: hidden;
    }
   #try-free-btn{
    background-color: white;
    color: #540B51;
    padding: 10px 20px ;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    display: flex;
    align-self: flex-end;
   }

   #main-title {
    text-align: center;
    font-size: larger;
    background-image:url(/starter_code/images/background-singup.png) ;
    /* background-position: center; */
    background-size: cover;
   
  }
  #main-title h1 {
  color:white;
  width: 60vh;
  font-size: 80px;
  text-align: left;
  margin-left: 60px;
  margin-top: -60px;
  padding-top: 20px;
  }
  

  #header-img {
    margin-top: -500px;
    /* margin-bottom: 200px; */
    width: 50vh;
    height: auto;
    float: right;
  }

  
  .main-header {
    background-color: #540B51;
    padding: 10px;
    margin-bottom: 200px;
    padding-bottom: 150px;
  }
#email{
    display: inline-block;
    background-color: #fff;
    color: #69056d;
    padding: 20px 20px;
    border: none;
    font-size: 18px;
    margin-right: 450px;
    margin-top: 10px;
    cursor: pointer;
    width: 50vw;
    border-radius: 5px;
    font-weight: bold;

  }

  #google{
    margin-right: 450px;
    width: 50vw;
    border-radius: 5px;
    font-weight: bold;
    justify-content: center;
    padding-bottom: 20px;

  }
  
  #google img {
   
    padding:10px;
    float: left;
    
    
  }
  #google-text{
    text-align: center;
    padding-bottom: -10px;
    margin-bottom: 5000px;
    


   
  }
  .header-p {
    color:white;
    font-size: 30px;
    width: 30vh;
    text-align: left;
    /* padding: px; */
    margin:50px;
  }

   .main-section {
    background-color: #F3EAE2;
    position: relative;
    z-index: 10;
    top:-200px; opacity:1;
  }

  #meet-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    font-weight: bold;
    width:fit-content;
    font-size: 18px;
  
}

#talk-btn {
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    font-weight: bold;
    width:fit-content
  
  
}

.section-btn{
  display: flex;
  justify-content: center;
}
.companies-img{
  width: 10%;
}

.companies-img-circle{
  width:70px;
  height: auto;
}
#new-time-logo{
  width: 250px;
  height: auto;
}
.companies-img-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap:nowrap
}
.hidden-image{
  display: none;
  
  
}
.desktop-img{
  width: 500px;
  height: auto;
  
}


  .connect-title{
    width: 40vh;
    margin-left: 600px;
    text-align: left;
    font-size: 45px;
    
  }

  .main-content{
   display: flex;
   justify-content: center;
   flex-direction: column;
   
  }
  .main-content-p-desktop{
   
    width: 45vh;
    margin-left: 580px;
    font-size: 20px;
    text-align: left;
    margin-top: -20px;
   
  } 
  #connect-img-position{
    margin-top: -250px;
  }
  #main-content-p-desktop{
   
    width: 45vh;
    margin-right: 580px;
    font-size: 20px;
    text-align: left;
    margin-top: -20px;
  } 

  .speed-content-position{
    margin-top: 20px;
  }

  #speed-img-position{
    margin-top:-300px
  }
  #connect-img-position{
    margin-top: -250px;
  }
  #flexy-title{
    width: 40vh;
    margin-left: 20px;
    text-align: left;
    font-size: 45px;
    margin-top: -300px;
  }
  .team-section >h3{
    font-size: 45px;

  }
  .team-section br{
    display: none;
  }
  .team-section p{
   font-weight: bold; 
   font-size: 15px;
  }
  .team-section-list{
    display: flex;
    flex-direction: row;
    
    
  }
  .team-section-list span {
    font-size: 60px;
    justify-content: space-between;
    
  }
  .team-section-list li{
    text-align: left;
    margin-right: 130px;
  }
  #sales-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    font-weight: bold;
    width:fit-content;
    height: min-content;
    font-size: 18px;
    background-color: none;
  
}

#try-btn{
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    font-weight: bold;
    width:fit-content;
    font-size: 18px;
    background-color: white;
  
}
.welcome-section >h3{
  font-size: 45px;
}

#footer-menu{
  display:flex;
  flex-direction: row;
  font-size: 15px;
  font-weight: 700;
  justify-content: space-between;
}
}

   
  

  